<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        <h1>Travel Planner</h1>
      </div>
      <div class="holder timeframe">
        <label for="arrive">Arrive:</label>
        <input type="date" id="arrive" name="arrive" min="2020-06-01" />
        <label for="depart">Depart:</label>
        <input type="date" id="depart" name="depart" min="2020-06-01" />
      </div>
      <div class="holder destination">
        <label for="destination">Enter destination here</label>
        <input
          type="text"
          id="destination"
          placeholder="enter destination here"
        />
      </div>
      <div class="holder notes">
        <label for="notes">Notes</label>
        <textarea
          class="myInput"
          id="inputNotes"
          placeholder="Enter your trip notes here"
          rows="3"
          cols="50"
        ></textarea>
        <button
          id="logtrip"
          type="submit"
          onsubmit="return Client.logTrip(event)"
          onclick="return Client.logTrip(event)"
        >
          Log Trip!
        </button>
      </div>
      <div id="hintContainer" class="hide">
        Please fill out arrival, departure and location fields
      </div>
      <div class="holder entry">
        <div class="title">Upcoming Trips</div>
        <div id="entryHolder">
          <img id="pic" src="" />
          <div id="arrive"></div>
          <div id="depart"></div>
          <div id="daysUntil"></div>
          <div id="duration"></div>
          <div id="location"></div>
          <div id="weather"></div>
          <div id="notes"></div>
          <div id="calendarContainer">
            <button id="addToCalendar" onclick="addToCalendar()">
              + Add to Calendar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--     <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>
