<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>Tweet Checker:</h1>
            </div>
            <div class="">
                Navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Tweet" onkeyup="Client.textCountDown(event)">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <div>Characters left: <span id="char" ></span></div>
                </form>
            <section>

            <section>
                <div class="hintCont hide"><p class="hint-text">Hint:<br>Try entering between 1 and 280 characters :)</p></div>
                <h3><strong>Analysis Results:</strong></h3>
                <div id="analysis" class="hide">
                    <div> Polarity: <span id="polarity"></span>
                    </div>
                    <div>Subjectivity: <span id="subjectivity"></span></div>
                   <div>Text: <span id="text"></span></div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
